<center>
<div class='aboutinfo'>
  <br><br><br><br>
  <h1 class='schoolname'>About This Application</h1>
  <p class='desc'>
  This application was built to help parents of prospective New York
  City high school students find the ideal school for their children
  based on location, academics, and school values.
  </p>

  <h2 style="text-decoration: underline;">This project was made possible using:</h2>

  <div style="width: 100%;">
   <div style="float: left; width: 33%;">
     <img class='techimage' src='https://secure.gravatar.com/avatar/da384e8dbc65c26e792a1cc6dcc6ebeb?s=512&r=g&d=retro'>
     <p class='desc'>SQL to query data, stored on Google Firebase</p>
   </div>
   <div style="float: left; width: 33%;">
     <img class='techimage' src='https://angular.io/assets/images/logos/angular/angular.png'>
     <p class='desc'>AngularJS to display data for individual schools, and configure site routing</p>
   </div>
   <div style="float: left; width: 33%;">
     <img class='techimage' src='https://cdn-images-1.medium.com/max/1200/1*lJ32Bl-lHWmNMUSiSq17gQ.png'>
     <p class='desc'>HTML5 and CSS for general site development and design</p>
   </div>
   <br style="clear: left;" />
  </div>
  <br><br>
  <h1 class='schoolname'>About Me</h1>
  <p class='desc'>
  My Name is <b>Allen Wu,</b> and I am currently a second year <b>Computer
  Science</b> student at the <b>University of Waterloo.</b> My strengths and
  interests include <b>.NET full stack web development, MEAN stack,</b>
  as well as <b>data science and analytics.</b>
  <br><br>
  Once again, thanks for visiting! For any questions or opportunities, please contact me at
  allenwu25@yahoo.com.
  </p>
  <br><br>
</div>
</center>
